:root {
    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --pink: #F39E9E;
    --light-red: #EB7565;
    --cyan: #61C4B7;
    --bordeau: #552049;
    --black: #030303;
    --medium-brown: #7A746E;
    --light-cream: #FFF7F0;
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
}

body {
    background: var(--light-cream);
    overflow-x: hidden;
}

header, footer, .patterns, .profile {
    width: clamp(690px, 77.08vw, 1110px);
}

/* ----------------- LINK CONSULTATION ----------------- */

.link-consultation {
    position: relative;
    padding: 14px 45px;
    border-radius: 9999px;
    color: var(--light-cream);
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
    font-weight: 700;
    line-height: 28px;
    overflow: hidden;
    z-index: 5;
}
.link-consultation::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform .2s ease-out;
    z-index: -1;
}
.link-consultation:hover::before {
    transform: scaleX(0);
    transform-origin: right;
}

.link-consultation::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s ease-out;
    z-index: -1;
}
.link-consultation:hover::after {
    transform: scaleX(100%);
    transform-origin: left;
}

/* --------- HEADER / FOOTER---------*/

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px auto 66px;
}

header .link-consultation::before,
footer .link-consultation::before {
    background: var(--black);
}

header .link-consultation::after,
footer .link-consultation::after {
    background: var(--galactic-blue);
}


/* ----------- TABLET HEADER / FOOTER ----------- */

@media (max-width: 768px) {
    header, footer {
        width: clamp(343px, 90vw, 690px);
        margin: 34px auto 64px;
    }
}

/* ----------- MOBILE HEADER / FOOTER ----------- */

@media (max-width: 425px) {
    header, footer {
        width: 343px;
        margin: 16px auto 32px;
    }
    .link-consultation-black {
        padding: 8px 28px;
        font-size: 14px;
    }
    #logo {
        width: 48px;
        height: 48px;
    }
}

/* ---------------- SECTION TITLE ---------------- */

.title {
    text-align: center;
    margin-bottom: 80px;
}

.title h1 {
    margin-bottom: 23px;
    font-size: 56px;
    font-weight: 700;
    color: var(--black);
}

.title p {
    max-width: 730px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--medium-brown);
}


/* ------------ TABLET SECTION TITLE ------------ */

@media (max-width: 1110px) {
    .title {
        margin-bottom: 64px;
    }

    .title h1 {
        margin-bottom: 27px;
        font-size: 44px;
    }
    
    .title p {
        max-width: 573px;
        font-size: 18px;
    }
}

/* ------------ MOBILE SECTION TITLE ------------ */

@media (max-width:650px) {
    .title {
        margin-bottom: 32px;
        padding: 0 40px;
    }
    
    .title h1 {
        margin-bottom: 16px;
        font-size: 36px;
    }
    
    .title p {
        font-size: 16px;
        line-height: 26px;
    }
}

/* ------------- SECTION PATTERNS ------------- */

.patterns {
    margin: 0 auto 136px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 182px 158px;
    grid-template-areas:
    "graphic graphic ui apps photography photography"
    "graphic graphic illustration illustration motion motion";
    gap: 24px;
}

.img-pattern {
    position: relative;
    padding: 24px;
    border-radius: 8px;
    opacity: 0;
}

.img-pattern p {
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    position: absolute;
    bottom: 24px;
}

.img-pattern img {
    position: absolute;
    right: 24px;
}

.graphic {
    background: var(--galactic-blue);
    grid-area: graphic;
    animation: appearance 1s forwards;
}

.ui {
    background: var(--summer-yellow);
    grid-area: ui;
    animation: appearance 1s .1s forwards;
}

.apps {
    background: var(--pink);
    grid-area: apps;
    animation: appearance 1s .2s forwards;
}

.illustrations {
    background: var(--light-red);
    grid-area: illustration;
    animation: appearance 1s .3s forwards;
}

.photography {
    background: var(--cyan);
    grid-area: photography;
    animation: appearance 1s .4s forwards;
}

.motion {
    background: var(--bordeau);
    grid-area: motion;
    animation: appearance 1s .5s forwards;
}

@keyframes appearance {
    100% {
        opacity: 1;
    }
}

/* ------------ TABLET SECTION PATTERNS ------------ */

@media (max-width: 1110px) {
    .patterns {
        width: clamp(343px, 90vw, 690px);
        margin: 0 auto 120px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 182px 158px 182px;
        grid-template-areas:
        "graphic graphic ui apps"
        "graphic graphic illustration illustration"
        "photography photography motion motion";
    }
}

/* ------------ MOBILE SECTION PATTERNS ------------ */

@media (max-width:560px) {
    .patterns {
        margin: 0 auto 100px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 170px 170px 182px 158px 182px 182px;
        grid-template-areas:
        "graphic graphic"
        "graphic graphic"
        "ui apps"
        "illustration illustration"
        "photography photography"
        "motion motion";
    }
}


/* ---------------- SECTION PROFILE ---------------- */

.profile {
    margin: 0 auto 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 445px;
}

.container-photo-profile img {
    height: 100%;
    object-fit: cover;
}

.container-photo-profile.active img {
    opacity: 1;
}

.container-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-presentation h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 34px;
}

.container-presentation h2.active {
    opacity: 1;
}

.container-presentation p {
    font-size: 18px;
    line-height: 28px;
    color: var(--medium-brown);
    margin-bottom: 32px;
}

.container-presentation .link-consultation {
    max-width: 228px;
}

.container-presentation .link-consultation::before {
    background: var(--light-red);
}

.container-presentation .link-consultation::after {
    background: var(--summer-yellow);
}

/* animation */

.container-photo-profile img,
.container-presentation h2,
.container-presentation p,
.container-presentation .link-consultation {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 1s ease-out,
    transform 1s ease-out;
}

.container-photo-profile img.active,
.container-presentation h2.active,
.container-presentation p.active,
.container-presentation .link-consultation.active {
    opacity: 1;
    transform: scaleY(1);
}

/* ------------ TABLET SECTION PROFILE ------------ */

@media (max-width: 1110px) {
    .profile {
        width: 100vw;
        margin: 0 auto 120px;
        grid-template-rows: 364px;
        grid-template-columns: 1fr auto;
        gap: 8.98vw;
        transform: translateX(-5.2vw);
    }

    .container-presentation h2 {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .container-presentation p {
        margin-bottom: 24px;
    }
}

@media (max-width: 730px) {
    .profile {
        grid-template-rows: 364px;
        grid-template-columns: 1fr auto;
        gap: 5vw;
    }

    .container-photo-profile {
        align-self: center;
        height: 70%;
    }

    .container-presentation h2 {
        font-size: 26px;
        margin-bottom: 18px;
    }

    .container-presentation p {
        font-size: 16px;
        margin-bottom: 18px;
    }
}

/* ------------ MOBILE SECTION PROFILE ------------ */

@media (max-width:560px) {
    .profile {
        margin: 0 auto 100px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 40px;
        transform: translateX(0);
    }

    .container-photo-profile {
        justify-self: center;
        width: 300px;
        height: 300px;
    }

    .container-presentation {
        display: grid;
        padding: 0 16px;
    }

    .container-presentation h2 {
        font-size: 26px;
        margin-bottom: 24px;
        text-align: center;
    }

    .container-presentation p {
        margin-bottom: 24px;
        text-align: center;
    }

    .container-presentation a {
        justify-self: center;
    }
}